@model IEnumerable<ORDER_MANAGEMENT.Data.Territory>
@{
    ViewBag.Title = "Territories";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section Styles {
    <link href="~/CSS/bootstrap-select.css" rel="stylesheet" />
    <style>
        .selected .dropdown-item { color: #2b9000 }
        .error-color td { color: red; }
        .used-error { font-size: 0.8rem; color: red; }
    </style>
}

<div class="card card-body m-md-3">
    <div class="row">
        <div class="col justify-content-center align-self-center">
            <h3>Territories <small id="ItemCount" class="badge badge-pill badge-success"></small></h3>
        </div>
        <div class="col text-right">
            <a href="/Territories/Create" class="btn-floating blue-gradient" title="Add New">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <label>Select Region</label>
            @Html.DropDownList("RegionID", null, htmlAttributes: new { @class = "form-control selectpicker", multiple = "multiple" })
        </div>
        <div class="col">
            <label>Select Area</label>
            <select id="dlArea" class="form-control selectpicker" multiple></select>
        </div>
    </div>

    <table id="DataTable" class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Territory Name</th>
                <th style="width:50px">Edit</th>
                <th style="width:50px">Delete</th>
            </tr>
        </thead>
        <tbody id="table_row">
            <tr><td colspan="3">No Data</td></tr>
        </tbody>
    </table>
</div>


@section Scripts {
    <script src="~/JS/bootstrap-select.js"></script>

    <script>
        $(function () {
            $(".selectpicker").selectpicker({
                actionsBox: true,
                selectedTextFormat: 'count > 4',
                style: '',
                styleBase: 'form-control',
                tickIcon: 'fas fa-check-circle',
                size: 5
            });
        });

        //Delete click
        $("#DataTable").on("click", ".delete", function (evt) {
            evt.preventDefault();
            var row = $(this).closest("tr");
            var deleteAtt = $(this);
            const url = $(this).attr('href');
            $('#table_row em').remove();
            $('#table_row tr').removeClass("error-color");

            if (url == null) return;
            if (confirm("Are you sure you want to delete?")) {
                $.post(url, function (response) {
                    if (response === '0') {
                        row.addClass("error-color").after('<em class="used-error"><b>' + row.children().text() + '</b> already used in others place</em>');
                        deleteAtt.removeClass("delete").removeAttr("href");
                        return;
                    }
                    row.hide();
                });
            }
        });

        //Region Change
        $('#RegionID').change(function () {
            const ids = [];
            const areaSelect = $('#dlArea');

            areaSelect.empty();

            $('#RegionID :selected').each(function (i, selected) {
                ids[i] = parseInt($(selected).val());
            });

            if (ids.length) {
                const url = "@Url.Action("GetAreaByRegion","Basic")";
                $.get(url, {Ids: JSON.stringify(ids)}, function (response) {
                    if (response != null && !jQuery.isEmptyObject(response)) {
                        $.each(response, function (i, item) {
                            areaSelect.append($('<option/>', { value: item.AreaID, text: item.AreaName }));
                        });
                        areaSelect.selectpicker("refresh");
                    };
                });
            }

            areaSelect.selectpicker("refresh");
        });


        //Area Change
        $('#dlArea').change(function () {
            const ids = [];
            const itemCount = $("#ItemCount");
            const row = $('#table_row');

            itemCount.text(null);
            row.children().remove();

            $('#dlArea :selected').each(function (i, selected) {
                ids[i] = parseInt($(selected).val());
            });

            if (ids.length) {
                const url = "@Url.Action("GetTerritoryTable", "Basic")";
                $.get(url, { Ids: JSON.stringify(ids) }, function (response) {
                    if (response != null && !jQuery.isEmptyObject(response)) {
                        itemCount.text(response.length).hide().fadeIn(1000);
                        var trow = '';
                        $.each(response, function (i, item) {
                            trow += `<tr><td>${item.TerritoryName}</td>
                                     <td><a class="fas fa-edit" href="/Territories/Edit/${item.TerritoryID}"></a></td>
                                     <td><a style="color:#ff0000" class="delete fas fa-trash-alt" href="/Territories/Delete/${item.TerritoryID}"></a></td></tr>`;
                        });
                        row.append(trow).hide().fadeIn(1500);
                    };
                });
            } else {
                row.append('<tr><td colspan="3">No Data</td></tr>');
            }
        });
    </script>
}