@model ORDER_MANAGEMENT.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}


<div class="card mt-3">
    <div class="card-body">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Enter your email.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                <label>Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Email Link" />
            </div>
        }
    </div>
    </div>

