
@{
    ViewBag.Title = "Change Discount Percentage";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section Styles {
    <link href="~/CSS/bootstrap-select.css" rel="stylesheet" />
    <style>
        .selected .dropdown-item { color: #2b9000 }
        .error-color td { color: red; }
        .used-error { font-size: 0.8rem; color: red; }
    </style>
}

<div class="m-3">
    <h3 class="mb-3">Change Discount Percentage <small id="ItemCount" class="badge badge-pill badge-success"></small></h3>

    <div class="row mb-4">
        <div class="col">
            <label>Select Region</label>
            <select id="RegionID" class="form-control selectpicker" multiple></select>
        </div>
        <div class="col">
            <label>Select Area</label>
            <select id="dlArea" class="form-control selectpicker" multiple></select>
        </div>
    </div>

    <table id="DataTable" class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>
                    Territory Name
                </th>
                <th style="width:200px">
                    Discount
                </th>
                <th style="width:50px">
                    Update
                </th>
            </tr>
        </thead>
        <tbody id="table_row">
            <tr><td colspan="2">No Data</td></tr>
        </tbody>
    </table>
</div>


@section Scripts {
    <script src="~/JS/bootstrap-select.js"></script>

    <script>
        $(function () {
            $(".selectpicker").selectpicker({
                actionsBox: true,
                liveSearch: false,
                selectedTextFormat: 'count > 4',
                style: '',
                styleBase: 'form-control',
                tickIcon: 'fas fa-check-circle',
                size: 5
            });
        });

         //Get Region
        $.get("@Url.Action("GetRegionDDL", "Regions")", function (response) {
            var regionSelect = $('#RegionID');
            if (response != null && !jQuery.isEmptyObject(response)) {
                $.each(response, function (i, item) {
                    regionSelect.append($('<option/>', { value: item.RegionID, text: item.RegionName}));
                });
                regionSelect.selectpicker("refresh");
            };
        });

        //Region Change
        $('#RegionID').change(function () {
            var Ids = [],
                url = "@Url.Action("GetAreaByRegion", "Territories")",
                areaSelect = $('#dlArea');

            areaSelect.empty();

            $('#RegionID :selected').each(function (i, selected) {
                Ids[i] = parseInt($(selected).val());
            });

            if (Ids != null && Ids != '') {
                $.get(url, {Ids: JSON.stringify(Ids)}, function (response) {
                    if (response != null && !jQuery.isEmptyObject(response)) {
                        $.each(response, function (i, item) {
                            areaSelect.append($('<option/>', { value: item.AreaID, text: item.AreaName }));
                        });
                        areaSelect.selectpicker("refresh");
                    };
                });
            }

            areaSelect.selectpicker("refresh");
        });


        //Area Change
        $('#dlArea').change(function () {
            var Ids = [],
             url = "@Url.Action("GetTerritoryTable", "Territories")",
            ItemCount = $("#ItemCount"),
            row = $('#table_row');

            ItemCount.text(null);
            row.children().remove();

            $('#dlArea :selected').each(function (i, selected) {
                Ids[i] = parseInt($(selected).val());
            });


            if (Ids != null && Ids != '') {
                $.get(url, { Ids: JSON.stringify(Ids) }, function (response) {
                    if (response != null && !jQuery.isEmptyObject(response)) {
                        ItemCount.text(response.length).hide().fadeIn(1000);
                        var trow = '';
                        $.each(response, function (i, item) {
                            trow += '<tr><td>' + item.TerritoryName + '</td>';
                            trow += '<td><input type="number" class="form-control Discount" step="0.01" min="0" max="100" value="' + item.DistributorDiscountPercentage + '"/></td>';
                            trow += '<td><input type="button" class="onUpdate btn btn-sm btn-success" value="Update" data-id="' + item.TerritoryID +'"/></td></tr>';
                        });
                        row.append(trow).hide().fadeIn(1000);
                    };
                });
            } else {
                row.append('<tr><td colspan="3">No Data</td></tr>');
            }
        });

        $("#DataTable").on("click", ".onUpdate", function () {
            var url = "@Url.Action("DiscountPercentageChange")",
                TerritoryID = $(this).data("id"),
                Percentage = parseFloat($(this).closest("tr").find(".Discount").val()),
                row = $(this).closest("tr");


            if (isNaN(Percentage)) return;

            if (Percentage > 100) return;


            if (TerritoryID !== '' && Percentage !== '') {
                $.get(url, { TerritoryID, Percentage }, function (response) {
                    console.log(response)
                    if (response !== 0) {
                        row.hide().fadeIn();
                    }
                });
            }
        });
    </script>
}
